:root {
  /* Fonts */
  --ff-body: "Lexend Deca", sans-serif;
  --ff-titles: "Big Shoulders Display", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
  /* Font sizes */
  --fs-body: 0.9375rem;
  --fs-heading: 2rem;
  /* Colors */
  --clr-orange: hsl(31, 77%, 52%);
  --clr-green: hsl(184, 100%, 22%);
  --clr-dark-green: hsl(179, 100%, 13%);
  --clr-primary: hsla(0, 0%, 100%, 0.75);
  --clr-neutral: hsl(0, 0%, 95%);
  /* Spacing */
  --spacer: 2.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

img {
  max-width: 100%;
  min-height: 100%;
}

/* Utilities */

.split {
  display: flex;
}

.auto-grid {
  --column-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
}

@media (min-width: 52em) {
  .auto-grid {
    --column-count: 3;
  }
}
.bg-orange {
  --bg: var(--clr-orange);
}

.bg-green {
  --bg: var(--clr-green);
}

.bg-dark-green {
  --bg: var(--clr-dark-green);
}

/* Visually hidden, accesability for screen readers - used in prices */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* General */

body {
  background-color: var(--clr-neutral);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-primary);
  line-height: 1.8;
  padding: var(--spacer);

  /* Center stuff */
  display: grid;
  place-content: center;
  min-height: 100vh;
}

/* Components */
.article-wrapper {
  max-width: 57.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card {
  --_bg: var(--bg, gray);

  background-color: var(--_bg);
  max-width: 24rem;
  display: grid;
  gap: var(--spacer);
  padding: var(--spacer);
}

.card__title {
  font-family: var(--ff-titles);
  font-size: var(--fs-heading);
  text-transform: uppercase;
  color: var(--clr-neutral);
}

.card__content {
  display: grid;
  gap: var(--spacer);
}

.btn {
  background-color: var(--clr-neutral);
  font-family: inherit;
  font-size: inherit;
  color: var(--_bg);
  max-width: 70%;
  padding: 1em;
  border: 2px solid;
  border-color: var(--clr-neutral);
  border-radius: 2rem;
  cursor: pointer;
}

.btn:is(:hover, :focus) {
  background-color: var(--_bg);
  color: var(--clr-neutral);
}
